selenium
pandas
numpy
nest_asyncio
# Xử lý dữ liệu
pandas
numpy
python-dotenv
sqlalchemy
alembic
streamlit
asyncpg
# API và backend
fastapi
uvicorn[standard]
pydantic
# Chatbot và NLP
llama-index
openai
llama-index-core

llama-index-storage-index_store-postgres
llama-index-vector-stores-postgres
llama-index-embeddings-huggingface
llama-index-embeddings-openai
llama-index-readers-llama-parse 
llama-index-llms-gemini
openai

